<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>https://api.astrostaging.com/v1/</string>
	<key>token</key>
	<string>9b92396d11f471ef9c99285c8f3eca253e3764c3</string>
	<key>email</key>
	<string>test@test.com</string>
	<key>mapboxToken</key>
	<string>pk.eyJ1IjoiYXN0cm9kaWdpdGFsIiwiYSI6ImNVb1B0ZkEifQ.IrJoULY2VMSBNFqHLrFYew</string>
	<key>basemap</key>
	<string>astrodigital.a1cfcd94</string>
</dict>
</plist>
